/** Spin Loading Effect */
.smilex-spin {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    &-box {
        width: 100px;
        height: 100px;
        position: relative;
        // animation: spin-circle 0.8s linear 0s infinite;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &_taiji {
        width: 100%;
        height: 100%;
        // background: url("~static/svg/taiji.svg") center center / cover no-repeat;
        display: block;
    }
    &_block {
        width: 80%;
        height: 80%;
        display: block;
        position: absolute;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        &1 {
            background-color: #fff;
            animation: spin-clockwise 3s ease-in-out 0s infinite alternate;
        }
        &2 {
            transform: rotate(45deg);
            background-color: #000;
            animation: spin-xclockwise 3s ease-in-out 0s infinite alternate;
        }
    }
}

@include keyframes(spin-circle) {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@include keyframes(spin-clockwise) {
    $i: 0;
    @each $count in 0%, 25%, 50%, 75%, 100% {
        #{$count} {
            transform: rotate(90deg * $i);
        }
        $i: $i + 1;
    }
}

@include keyframes(spin-xclockwise) {
    $i: 0;
    @each $count in 0%, 25%, 50%, 75%, 100% {
        #{$count} {
            transform: rotate(45deg + 90 * $i);
        }
        $i: $i - 1;
    }
}
