/** Spin Loading Effect */
.smilex-spin {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &-line {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.smilex-spin {
    /*box-taiji*/
    &_taiji {
        width: 100px;
        height: 100px;
        animation: spin-circle 0.8s linear 0s infinite;
        background: url("~static/svg/taiji.svg") center center / cover no-repeat;
        display: block;
    }
    /**box-block*/
    &_block {
        width: 75px;
        height: 75px;
        display: block;
        position: absolute;
        &1 {
            background-color: #fff;
            animation: spin-clockwise 3s ease-in-out 0s infinite alternate;
        }
        &2 {
            transform: rotate(45deg);
            background-color: #000;
            animation: spin-xclockwise 3s ease-in-out 0s infinite alternate;
        }
    }
    /*box-heart*/
    &_heart {
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        background: url("~static/svg/taiji.svg") center center / cover no-repeat;
        $move: 80px;
        $animParam: 1.5s ease-in-out 0s infinite;
        &1 {
            @include keyframes(spin-heart-1) {
                0% {
                    margin-top: 0;
                    margin-left: 0;
                }
                33% {
                    margin-top: -$move;
                    margin-left: 0;
                }
                66% {
                    margin-top: 0;
                    margin-left: $move;
                }
                100% {
                    margin-left: 0;
                    margin-top: 0;
                }
            }
            animation: spin-heart-1 $animParam;
        }

        &2 {
            @include keyframes(spin-heart-2) {
                0% {
                    margin-top: 0;
                    margin-left: 0;
                }
                33% {
                    margin-top: 0;
                    margin-left: $move;
                }
                66% {
                    margin-top: $move;
                    margin-left: 0;
                }
                100% {
                    margin-top: 0;
                    margin-left: 0;
                }
            }
            animation: spin-heart-2 $animParam;
        }

        &3 {
            @include keyframes(spin-heart-3) {
                0% {
                    margin-top: 0;
                    margin-left: 0;
                }
                33% {
                    margin-top: $move;
                    margin-left: 0;
                }
                66% {
                    margin-top: 0;
                    margin-left: -$move;
                }
                100% {
                    margin-left: 0;
                    margin-top: 0;
                }
            }
            animation: spin-heart-3 $animParam;
        }

        &4 {
            @include keyframes(spin-heart-4) {
                0% {
                    margin-top: 0;
                    margin-left: 0;
                }
                33% {
                    margin-left: -$move;
                    margin-top: 0;
                }
                66% {
                    margin-top: -$move;
                    margin-left: 0;
                }
                100% {
                    margin-top: 0;
                    margin-left: 0;
                }
            }
            animation: spin-heart-4 $animParam;
        }
    }
    /*line-music*/
    &_music {
        width: 50px;
        height: 50px;
        background: url("~static/svg/music.svg") center center / cover no-repeat;
        &1 {
            animation: spin-scale 0.6s ease 0s infinite alternate;
        }
        &2 {
            animation: spin-scale 0.6s ease 0.3s infinite alternate;
        }
        &3 {
            animation: spin-scale 0.6s ease 0.6s infinite alternate;
        }
    }
}
