@include keyframes(spin-circle) {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@include keyframes(spin-clockwise) {
    $i: 0;
    @each $count in 0%, 25%, 50%, 75%, 100% {
        #{$count} {
            transform: rotate(90deg * $i);
        }
        $i: $i + 1;
    }
}

@include keyframes(spin-xclockwise) {
    $i: 0;
    @each $count in 0%, 25%, 50%, 75%, 100% {
        #{$count} {
            transform: rotate(45deg + 90 * $i);
        }
        $i: $i - 1;
    }
}

@include keyframes(spin-scale) {
    from {
        transform: scale(0.75);
    }
    to {
        transform: scale(1.5);
    }
}



@include keyframes(fade-in) {
    from {
        // transform: scale(0.25);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
