.smilex-icon {
    @include no-select;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: $S-Margin-Base;
    &-wrapper {
        width: 100%;
        height: 100%;
    }

    &_svg {
        width: 100%;
        height: 100%;
    }
    &_github {
        background: url("~/static/svg/github.svg") center center / cover no-repeat;
    }
    &_bilibili {
        background: url("~/static/svg/bilibili.svg") center center / cover no-repeat;
    }
    &_plan {
        background: url("~/static/svg/plan.svg") center center / cover no-repeat;
    }
    &_finish {
        background: url("~/static/svg/finish.svg") center center / cover no-repeat;
    }
    &_now {
        background: url("~/static/svg/now.svg") center center / cover no-repeat;
    }
}
