.smilex-hr {
  transform: translate3d(0, 0, 0);
  width: 50%;
  margin: 20px auto;
  border: 0;
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
}

.smilex-hr2 {
  transform: translate3d(0, 0, 0);
  margin: 10 px auto;
  width: 80%;
  background: radial-gradient(#d8d8d8 10%, white 80%);
  border: 0;
  height: 1px;
}
