.smilex-icon {
    @include no-select;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: $S-Margin-Base;
    &-wrapper {
        width: 100%;
        height: 100%;
    }

    &_svg {
        width: 100%;
        height: 100%;
        background: center center / cover no-repeat;
    }
    // &_github {
    //     @include sxIcon("github")
    // }
    // &_bilibili {
    //     @include sxIcon("bilibili")
    // }
    // &_plan {
    //     @include sxIcon("plan")
    // }
    // &_finish {
    //     @include sxIcon("finish")
    // }
    // &_now {
    //     @include sxIcon("now")
    // }
    // &_lock {
    //     @include sxIcon("lock")
    // }
    // &_back {
    //     @include sxIcon("back")
    // }
    // &_notify{
    //     &-info{

    //     }
    // }
}
