.blog-panel {
    padding: $S-Box-Padding;
    margin-bottom: 20px;
    box-sizing: border-box;
    // border: 1px solid #555555;
    box-shadow: $S-Box-Shadow;
    border-radius: $S-Box-Border-Radius;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #fff;
    width: 100%;
    @include transition(all 0.3s);
    &:hover {
        box-shadow: $S-Box-Shadow-Hover;
    }
    &-name {
        font-size: $S-Font-Size-Head18;
        color: $S-Font-Color-Gray-Deep;
        margin-bottom: 8px;
    }
}

.blog-article-panel {
    @extend .blog-panel;
    .blog-panel-name {
        
    }
}


.blog-tags {
    &-list {
    }
    &-item {
      display: inline-block;
      height: 28px;
      border-radius: 15px;
      line-height: 28px;
      padding: 0 10px;
      text-align: center;
      color: $S-Font-Color-Gray;
      border: 1px solid $S-Border-Color-Gray;
      margin: 4px 4px 0 0;
      cursor: pointer;
      &:hover {
        color: $S-Border-Color-Active;
        border-color: $S-Border-Color-Active;
      }
      &_c{
        color: $S-Border-Color-Active;
        border-color: $S-Border-Color-Active;
      }
    }
  }