@media (min-width: 576px) {
    .containers {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .containers {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .containers {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .containers {
        max-width: 1140px;
    }
}
@media (min-width: 1400px) {
    .containers {
        max-width: 1320px;
    }
}
