/** font */
$S-Font-Size-Notice: 12px;
$S-Font-Size-Base: 14px;
$S-Font-Size-Head16: 16px;
$S-Font-Size-Head18: 18px;
$S-Font-Size-Head20: 20px;
$S-Font-Size-Head24: 24px;

/** space 间距*/
$S-Margin-Base: 0 8px 0 0;

/** nav导航 */
$S-Nav-Height: 64px;
$S-Nav-Height-child: 48px;
