/** font */
$S-Font-Size-Notice: 12px;
$S-Font-Size-Base: 14px;
$S-Font-Size-Head16: 16px;
$S-Font-Size-Head18: 18px;
$S-Font-Size-Head20: 20px;
$S-Font-Size-Head24: 24px;

$S-Font-Color-Blue: #17c1e8;
$S-Font-Color-Red: #ff5c72;
$S-Font-Color-Gray: #7d93b2;
$S-Font-Color-Gray-Deep: #4c6280;
$S-Font-Color-White: #fff;

/* border */
$S-Border-Color-Gray: #d8d8d8;

/* box */
$S-Box-Shadow: 0 3px 10px rgb(192, 192, 192);
$S-Box-Shadow-Hover: 0 3px 15px rgb(122, 122, 122);
$S-Box-Border-Radius: 8px;
$S-Box-Padding: 20px 20px;

/** space 间距*/
$S-Margin-Base: 0 8px 0 0;

/** nav导航 */
$S-Nav-Height: 64px;
$S-Nav-Height-child: 48px;
