/** font */
$S-Font-Size-Notice: 12px;
$S-Font-Size-Base: 14px;
$S-Font-Size-Head16: 16px;
$S-Font-Size-Head18: 18px;
$S-Font-Size-Head20: 20px;
$S-Font-Size-Head24: 24px;

$S-Font-Color-Blue: #17c1e8;
$S-Font-Color-Red: #ff5c72;
$S-Font-Color-Gray: #7d93b2;
$S-Font-Color-Gray-Deep: #4c6280;
$S-Font-Color-White: #fff;

/**disable */
$S-Disable-Color: #d9d9d9;

/* border */
$S-Border-Color-Gray: #d8d8d8;
$S-Border-Color-Active: #ff5c72;

/* box */
$S-Box-Shadow: 0 3px 10px rgb(192, 192, 192);
$S-Box-Shadow-Hover: 0 3px 15px rgb(122, 122, 122);
$S-Box-Border-Radius: 8px;
$S-Box-Padding: 20px 20px;

/** space 间距*/
$S-Margin-Base: 0 8px 0 0;

/** nav导航 */
$S-Nav-Height: 64px;
$S-Nav-Height-child: 48px;

/* 颜色*/

$S-color-success: #67c23a;
$S-color-success-light-3: #95d475;
$S-color-success-light-5: #b3e19d;
$S-color-success-light-7: #d1edc4;
$S-color-success-light-8: #e1f3d8;
$S-color-success-light-9: #f0f9eb;
$S-color-success-dark-2: #529b2e;
$S-color-warning: #e6a23c;
$S-color-warning-light-3: #eebe77;
$S-color-warning-light-5: #f3d19e;
$S-color-warning-light-7: #f8e3c5;
$S-color-warning-light-8: #faecd8;
$S-color-warning-light-9: #fdf6ec;
$S-color-warning-dark-2: #b88230;
$S-color-danger: #f56c6c;
$S-color-danger-light-3: #f89898;
$S-color-danger-light-5: #fab6b6;
$S-color-danger-light-7: #fcd3d3;
$S-color-danger-light-8: #fde2e2;
$S-color-danger-light-9: #fef0f0;
$S-color-danger-dark-2: #c45656;
$S-color-error: #f56c6c;
$S-color-error-light-3: #f89898;
$S-color-error-light-5: #fab6b6;
$S-color-error-light-7: #fcd3d3;
$S-color-error-light-8: #fde2e2;
$S-color-error-light-9: #fef0f0;
$S-color-error-dark-2: #c45656;
$S-color-info: #909399;
$S-color-info-light-3: #b1b3b8;
$S-color-info-light-5: #c8c9cc;
$S-color-info-light-7: #dedfe0;
$S-color-info-light-8: #e9e9eb;
$S-color-info-light-9: #f4f4f5;
$S-color-info-dark-2: #73767a;

@media only screen and (max-width: 576px) {
  $S-Box-Shadow: 0 1px 5px rgb(192, 192, 192);
  $S-Box-Shadow-Hover: 0 1px 7px rgb(122, 122, 122);
  $S-Box-Border-Radius: 8px;
  $S-Box-Padding: 20px 10px;

  $S-Font-Size-Notice: 12px;
  $S-Font-Size-Base: 14px;
  $S-Font-Size-Head16: 12px;
  $S-Font-Size-Head18: 14px;
  $S-Font-Size-Head20: 26px;
  $S-Font-Size-Head24: 20px;
}
